@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
}

:root {
  --c-slate-800: #0c0c12;
  --c-slate-700: #161621;
  --c-border: #f29e20;
  --c-red-700: #c61a1a;
  --c-gray-700: #606060;
  --c-white: #ffffff;
}

body {
  color: var(--c-white);
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  width: 100vw;
  padding: 3rem;
  background-color: var(--c-slate-800);
  border-radius: 1rem;
}

.button {
  color: black !important;
}
.card__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--c-border);
  border-radius: 1rem;
}

.card__wrapper::-webkit-scrollbar {
  background-color: var(--c-gray-700);
  border-radius: 1rem;
  width: 0.4rem;
}

@layer components {
  .input {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    flex: 1;

    & > label {
      font-size: 1rem;
      font-weight: 600;
    }

    & > input {
      background: var(--c-slate-700);
      padding: 0.8rem 0.8rem;
      border-radius: 0.5rem;
      border: 2px solid transparent;
      outline: none;
      width: 475px;
      font-size: 1.2rem;
    }
  }

  .not-active::after {
    opacity: 0;
  }

  .active::after {
    opacity: 1;
  }

  .tootip,
  .tootip2 {
    position: relative;

    &:hover::after,
    &:hover::before {
      opacity: 1;
    }
  }

  .tootip::after,
  .tootip2::after {
    position: absolute;
    top: 270%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: -145px;
    width: 210px;
    padding: 10px;
    border-radius: 10px;
    background: #f29e20;
    color: #fff;
    text-align: center;
    display: block;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    position: absolute;
    z-index: 10;
  }

  .tootip::after {
    content: 'Click to teleport to the whiteboard';
  }
  .tootip2::after {
    content: 'Click for more details';
  }

  .tootip::before,
  .tootip2::before {
    content: '';
    position: absolute;
    left: 100%;
    margin-left: -23px;
    top: 100%;
    transform: translateY(-50%) rotate(90deg);
    border: 10px solid #f29e20;
    border-color: transparent #f29e20 transparent transparent;
    display: block;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 10;
  }

  .tootip2::after {
    top: 70%;
    left: 80%;
  }

  .tootip2::before {
    top: 50%;
    left: 80%;
  }

  .wrong {
    border: 2px solid red !important;
  }
  .correct {
    border: 2px solid green !important;
  }

  main {
    transition: 0.3s ease-out;
  }

  .show {
    opacity: 1 !important;
  }
}
